<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% include "style.html" %}
</head>
<body>
<div id="app">
    <div class="container-fluid p-0 m-0">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">FakeStore</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Catalog</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/support">Support</a>
                    </li>
                </ul>
                <input class="form-control mr-sm-2" type="search" placeholder="Category, Title" aria-label="Search">
                <a
                        href="/cart"
                        class="btn btn-outline-success my-2 my-sm-0"
                        type="button"
                >
                    Cart([[ cart_list.length ]])
                </a>

            </div>
        </nav>
    </div>
    <div class="container">
        {% block main_content %}{% endblock %}
    </div>
</div>
</body>
{% include "script.html" %}
<script>
    const {createApp} = Vue
    createApp({
        delimiters: ['[[', ']]'],
        mounted() {
            console.log(this.cart_list)
        },
        data() {
            return {
                cart_list: JSON.parse(localStorage.getItem('cart') ?? '[]'),
            }
        },
        methods: {
            addToCart(item) {
                this.cart_list.push(item)
                localStorage.setItem('cart', JSON.stringify(this.cart_list))
            },
            removeCartItem(index) {
                Swal.fire({
                    title: "Are you sure 🥹?",
                    text: "You won't be able to revert this!",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "Yes, remove it!"
                }).then((result) => {
                    if (result.isConfirmed) {
                        this.cart_list.splice(index, 1)
                        localStorage.setItem('cart', JSON.stringify(this.cart_list))
                    }
                });
            },
        }
    }).mount('#app')
</script>
</html>
